body {
  font-family: "larabiefont", 'helvetica', 'arial', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.52;
  word-spacing: 5px;
  background: url('images/pendleton.jpg');
  background-size: cover;
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.9);

  /*background-color: rgba(0, 0, 0, 0.8);*/
  /*color: rgba(255, 255, 255, 0.9);*/
}

/* html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow-x:hidden;
  }*/

/* h1 {
  font-size: 2.5em;
  }*/

  a {
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.9);
    /*color: rgba(255, 255, 255, 0.8);*/
    text-decoration: none;
    font-size: 0.5em;
    /*display: block;*/
    text-transform: uppercase;
  }

  a:hover {
    color: #346F8D;
    /*color: rgba(255, 255, 255, 0.8);*/

  }
/*img {
  padding: 0;
  width: 50%;
  }*/

  #nav, #nav2 {
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari and Chrome */
  }

  #dropdown, #dropdown2 {
    padding-left: 20px;
    display: none;
  }

  #nav {
    margin-top: 200px;
  }

  #nav2 {
    margin-top: 10px;
  }



  .name {
    font-family: "ff-market-web";
    text-align: left;
    position: absolute;
    right: 20px;
    top: 0;
  }
